@charset "UTF-8";
.banner {
    width: 970px;
}
.frase-principal {
    font-size: 30pt;
    text-align: center;
}
.hr {
    width: 350px;
    border: 1px #000000 solid;
}
.flex {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.flex figure {
    display: inline-block;
}
.center-img {
    width: 250px;
    height: 250px;
}
.news {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.news div, .news form {
    display: inline-block;
    vertical-align: middle;
}
.news h2 {
    font-size: 40pt;
    margin: 0;
}
.news h3 {
    font-size: 13pt;
    text-align: justify;
    width: 400px;
    margin-right: 0;
    font-weight: normal;
}
.form {
    padding: 5px;
    float: right;
    display: inline;
}
.form input[type='text'] {
    border-radius: 5px;
    border: 1px black solid;
    width: 320px;
    height: 30px;
    margin-top: 15%;
}
.form input[type='submit'] {
    border-radius: 5px;
    border: 1px black solid;
    width: 120px;
    height: 34px;
    background-color: #FFFFFF;
    padding: 0px;
    margin-top: 15%;
}