@charset "UTF-8";
html, body {
    width: 85%;
    margin: auto;
    margin-top: 5px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Nunito', sans-serif;
}
.logo {
    width: 85px;
    height: 50px;
}
.barra {
    margin-left: 10%;
    padding: 5px;
}
.barra input {
    border-radius: 5px;
    border: 1px black solid;
    width: 350px;
    height: 30px;
}
.menu a, div, ul, li {
    display: inline;
    vertical-align: middle;
}
.menu ul {
    float: right;
}
.menu li:before {
    content: " | ";
}
.menu li:first-child:before {
    content: none;
}
.menu li:last-child:before {
    content: none;
}
.carrinho span {
    margin-left: 15px;
    border: 1px  #424242 solid;
    padding: 10px;
    color: white;
    background-color: #424242;
    border-radius: 15px;
}
.icons-img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.menu a {
    text-decoration: none;
    font-size: 16pt;
    color:  #424242;
    padding: 10px;
    font-weight: bolder;
}
.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.frase-principal h1 {
    font-size: 30pt;
    text-align: center;
}
.frase-principal hr {
    width: 350px;
    border: 1px #000000 solid;
}
.center-img {
    width: 300px;
    height: 300px;
}
.images {
    margin-top: 50px;
    margin-left: 2%;
}
.align-img {
    display: inline-flex;
    justify-content: center;
}
.news {
    margin-left: 8%;
}
.nl {
    font-size: 40pt;
}
.nlt {
    font-size: 13pt;
    text-align: justify;
}
footer {
    width: 100%;
    background: #6C7A89;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}
footer ul {
    display: inline;
    width: 100%;  
}
.left {
    float: left;
}
.right {
    float: right;
}
.middle {
    align-items: center;
    text-align: center;
}
.fb {
    margin: 0px;
}
.fc {
    margin: 0px;
}